<div class="tarjeta-producto">
  <label for="nombre">Nombre:</label>
  <input id="nombre" type="text" [(ngModel)]="nombre" />

  <label for="descripcion">Descripción:</label>
  <input id="descripcion" type="text" [(ngModel)]="descripcion" />

  <label for="precio">Precio:</label>
  <input id="precio" type="text" [(ngModel)]="precio" />

  <button (click)="addProduct()">Enviar</button>

  <div class="product-list">
    <div *ngFor="let product of products" class="product-card">
      <h2>{{ product.nombre }}</h2>
      <p>{{ product.descripcion }}</p>
      <p class="precio">{{ product.precio | currency }}</p>
    </div>
  </div>
</div>
